/* INPUT NUMBER STYLES */
.mtui_inputtype {
  --fill: white;
  --text: inherit;
  --text-action: rgb(160, 166, 172);
  --placeholder: rgb(175 192 209);
  --border: rgb(221 221 245);
  --border-hover: rgb(195, 208, 237);
  --stepper-width: max(14%, 28px);

  position: relative;
  display: flex;
  margin: 0;
  width: fit-content;
  border-radius: 0.3em;
  background-color: var(--fill);
  color: var(--text);
  cursor: pointer;
  border: 1px solid var(--border);
  transition: background-color 0ms, box-shadow 200ms ease,
    transform 100ms ease;

  box-sizing: border-box;
  overflow: hidden;
  font: inherit;
  font-size: 1.1em;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled input {
  pointer-events: none;
  user-select: none;
}

[data-theme="dark"] .mtui_inputtype {
  --fill: rgb(18, 18, 19);
  --border: rgb(40, 41, 43);
  --placeholder: rgb(61, 63, 64);
  --border-hover: #44464b;
}

@-moz-document url-prefix() {}

.mtui_inputtype input {
  width: 100%;
  min-height: 2.2em;
  padding: 0.5em 0.1em 0.5em 0.8em;

  font-size: 1.1em;
  color: var(--text);

  box-sizing: border-box;
  background: transparent;
  border: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.mtui_inputtype input::placeholder {
  color: var(--placeholder);
}

.mtui_inputtype input::-webkit-outer-spin-button,
.mtui_inputtype input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.mtui_inputtype input:focus,
.mtui_inputtype input:hover,
.mtui_inputtype input:active {
  outline: none;
}

.mtui_inputtype.color-red {
  --hue: 0deg;
}

.mtui_inputtype.color-green {
  --hue: 110deg;
}

.mtui_inputtype.color-blue {
  --hue: 210deg;
}

.mtui_inputtype:hover {
  border-color: var(--border-hover);
}

.mtui_inputtype:hover::after {
  height: 30%;
}

.mtui_inputtype:active::after {
  height: 40%;
  transition: 0ms;
}

.mtui_inputtype:active,
.mtui_inputtype:focus,
.mtui_inputtype:hover {
  outline: none;
}


.mtui_color_white {
  background: #fff;
  box-shadow: 0 2px 3px 0px #c6c8ca;
  border-color: #eee;
}

.mtui_color_white input {
  color: #676a71;
}

.mtui_color_white:hover {
  border-color: #eee;
  box-shadow: 0 2px 3px 0px #e1e3e5;
}

.stepper {
  position: static;
  flex: 0 0 var(--stepper-width);
  align-self: stretch;
  min-height: 2.2em;

  display: flex;
  flex-direction: column;

  right: 0;
  top: 0;
  height: 100%;
  width: var(--stepper-width, 14%);
  padding: 0;
  box-sizing: border-box;
  border-left: 0.06rem solid rgba(0, 0, 0, 0.0);
}

.stepper:hover {
  border-left: 0.06rem solid var(--border);
}

.stepper button {
  flex: 0 0 20px;
  width: 100%;
  height: 48%;
  min-height: 48%;
  padding: 0;
  background: transparent;
  color: rgb(18, 22, 160, 0.12);
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 0.8em;
  vertical-align: baseline;
}

[data-theme="dark"] .stepper button {
  color: rgba(255, 255, 255, 0.12);
}

.stepper button:active {
  font-size: 0.5em;
  line-height: 0.5em;
}

.stepper button:hover {
  background-color: var(--border);
}

.stepper button:active {
  color: rgba(0, 0, 0, 0.5);
}

.stepper button:hover,
.stepper button:active,
.stepper button:focus {
  outline: none;
}

.stepper button span {
  display: block;
  user-select: none;
  pointer-events: none;
}

.stepper button:nth-child(1) span {
  transform: translateY(2px);
}

.stepper button:nth-child(2) span {
  transform: translateY(-2px);
}


.inputPrefix {
  user-select: none;
  padding: 0.5em 0.3em;
}

.inputPrefix~input {
  padding-left: 0;
}

.inputPrefix:nth-last-child(1) {
  padding: 0.5em 0.8em 0.5em 0.2em;
}

.inputPrefix:nth-child(1) {
  padding: 0.5em 0.2em 0.5em 0.8em;
}

.inputSelect {
  font: inherit;
  font-size: 0.8em;
  font-weight: 500;
  appearance: none;
  color: var(--text);
  width: calc(var(--stepper-width) * 1.5);
  padding: 0 0.2em;
  text-align: center;
  background: rgb(239 243 255);
  cursor: pointer;
  border: none;
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
  transition: background 200ms ease;
  box-sizing: content-box;
  line-height: 100%;
}

.inputSelect+.inputSelect,
.inputSelect:nth-child(1) {
  border-left: none;
}

.inputSelect:nth-last-child(1) {
  border-right: none;
}

.inputChildButton:hover,
.inputSelect:hover {
  --bg-hover: rgb(212, 219, 237);
  background: var(--bg-hover);
}

[data-theme="dark"] .inputChildButton,
[data-theme="dark"] .inputSelect {
  --bg-hover: rgb(41, 42, 44);
  background: var(--bg-hover);
}

.inputSelect:focus {
  outline: none;
}

.inputChildButton {
  background-color: transparent;
}

.inputChildButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  line-height: 110%;
  color: var(--text);
  min-height: 2.2em;
  min-width: min(3em, 60px);
  padding: 0;
  margin: 0;

  border: none;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  transition: background 200ms ease;
}


.inputChildButton svg {
  font-size: 1.2em;
  transition: transform 200ms ease;
}

.inputChildButton:hover svg {
  transform: scale(1.08);
}

.inputChildIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  line-height: 110%;
  color: var(--text);
  height: 100%;
  min-height: 2.2em;
  min-width: 2.2em;
  padding: 0;
  margin: 0;

  border: none;
  box-sizing: border-box;
  cursor: default;
  overflow: hidden;
}


.inputChildIcon svg {
  font-size: 1.2em;
}

@media only screen and (max-width: 440px) {
  .mtui_inputtype {
    width: 100%;
    font-size: min(1.2rem, 21px);
  }
}

@media only screen and (max-width: 360px) {
  .mtui_inputtype {
    width: 100%;
    font-size: min(1.15rem, 18px);
  }
}

@media only screen and (max-width: 330px) {
  .mtui_inputtype {
    width: 100%;
    font-size: min(1.1rem, 16px);
  }
}