:root {
  --color-primary-a0: #ffffff;
  --color-primary-a10: #d4e0f8;
  --color-primary-a20: #a7c2f0;
  --color-primary-a30: #76a5e8;
  --color-primary-a50: #3189e0;
  --color-primary-a60: #2c65a3;
  --color-primary-a70: #24436a;
  --color-primary-a80: #182436;
  --color-primary-a90: #000000;
}